@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
	font-family: 'Ubuntu', 'Arial', 'Verdana';
}

body {
	background: url('../img/Place\ of\ violet\ _\ Cycles.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	padding: 1%;
}
p {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    width: 520px;
}
a {
    /* color: black; */
    text-decoration: none;
    color:aliceblue;
}
div.bottom {
    position: absolute;
    bottom: 0;
}